@page "/"
@using SvatebniWeb.Web.Data
@using SvatebniWeb.Web.Data.Models
@inject ApplicationDbContext DbContext

<PageTitle>Home</PageTitle>

<h1>Stránka pro svatební weby se teprve začíná programovat</h1>


<h2>Seznam testovacích nadpisů:</h2>
<ul>
    @foreach (var wedding in weddings)
    {
        <li>@wedding.Title</li>
    }
</ul>

@code {
    private List<Wedding> weddings = new List<Wedding>();

    protected override void OnInitialized()
    {
        weddings = DbContext.Weddings.ToList();
    }
}